.logo {
  position: fixed;
  animation-name: giro;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 100px;
  color: green;
}
@keyframes giro {
  0% {background-color: green; rotate: 90deg;}
  25% {background-color: greenyellow; rotate: 90deg;}
}